.App {
  margin-top: 200px;
}
.navbar {
  box-shadow: 0px 0px 10px #9eaaa6;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  background: white;
}
.nav-links {
  display: flex;
  align-items: space-around;
  justify-content: space-between;
  align-self: center;
}
.nav-links li {
  margin-right: 10px;
}
.navbar h2 {
  margin: 20px 0;
}
